<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>
      <% try { %>
        <%= title %>
      <% } catch (error) { %>
        <%= "BANG! MY CODE!" %>
      <% } %>
    </title>
  </head>
  <body>
    <%= body %>
  </body>
</html>
