<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>
      <% try { %>
        <%= title %>
      <% } catch (error) { %>
        <%= "BANG! MY CODE!" %>
      <% } %>
    </title>

    <!--<link href="/css/prettify.css" type="text/css" rel="stylesheet" />-->
    <link href="/css/sunburst.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/js/prettify.js"></script>
  </head>
  <body onload="prettyPrint()">
    <div id="content">
      <%- body %>
    </div>
  </body>
</html>
